# App Settings
APP_NAME="WAMCPanel"
JWT_SECRET=your_jwt_secret_here

COMPOSE_PROJECT_NAME=wamcpanel

# Database Configs
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=P@ssw0rd@3
DB_NAME=wamc_db

# Redis Configs
REDIS_PORT=6379

# Service Ports (Host perspective)
BACKEND_PORT=8000
FRONTEND_PORT=3000

# Database URL
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/wamc_db?schema=public"

# FOR THE APP
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_INTERNAL_BACKEND_URL=http://localhost:8000