NODE_ENV=development
STAGE=dev
PORT=800

DATABASE_URL="postgresql://postgres:your_password@localhost:5432/wamc_db?schema=public"
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=your_jwt_secret_here

# CORS origins
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

# SFTP Configs
SFTP_PORT=2022