NODE_ENV=development
STAGE=dev
BACKEND_PORT=800

DATABASE_URL="postgresql://postgres:your_password@localhost:5432/wamc_db?schema=public"
REDIS_URL=redis://localhost:6379
DOCKER_HOST=tcp://127.0.0.1:2375

# Auth
JWT_SECRET=your_jwt_secret_here

# SFTP Configs
SFTP_PORT=2022